<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.wena.formulasaprende">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScre">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TercerFragmento.calculadora.calculadora_cientifica" />
        <activity android:name=".Matematicas_children.Probabilidad_children.compatible_incopatible" />
        <activity android:name=".Materias_Quimica.quimicaOrganica.cicloalcanos" />
        <activity android:name=".Matematicas_children.EcuacionesDiferenciales.ecuacionesEjer" />
        <activity android:name=".GridView_segundoFragment.Aceleracion" />
        <activity android:name=".juego.avanzado.tiempos" />
        <activity android:name=".juego.avanzado.score" />
        <activity android:name=".juego.avanzado.QuickActivity" />
        <activity android:name=".juego.avanzado.splashAva" />
        <activity android:name=".juego.adivina_numero.juegoPrincipal" />
        <activity android:name=".juego.adivina_numero.principalAdivina" />
        <activity android:name=".Matematicas_children.matematicas_financieras.MatFinancieras_Ejerc" />
        <activity android:name=".Matematicas_children.matematicas_financieras.prima_riesgo" />
        <activity android:name=".Matematicas_children.matematicas_financieras.tasa_interes_nominal" />
        <activity android:name=".Matematicas_children.matematicas_financieras.inflacion" />
        <activity android:name=".Matematicas_children.matematicas_financieras.pib" />
        <activity android:name=".Matematicas_children.matematicas_financieras.amortizacion" />
        <activity android:name=".Matematicas_children.matematicas_financieras.anualidad_simple" />
        <activity android:name=".Matematicas_children.matematicas_financieras.resumenFormulas" />
        <activity android:name=".Matematicas_children.matematicas_financieras.capitalizacion_compuesta" />
        <activity android:name=".Matematicas_children.matematicas_financieras.capitalizacion_simple" />
        <activity android:name=".Matematicas_children.matematicas_financieras.Interes_compuesto" />
        <activity android:name=".Matematicas_children.matematicas_financieras.InteresSimple" />
        <activity android:name=".Materias_mate.matematicasFinancieras" />
        <activity android:name=".Matematicas_children.EcuacionesDiferenciales.aplicacion_mezclas" />
        <activity android:name=".Matematicas_children.EcuacionesDiferenciales.aplicacion_circuitos" />
        <activity android:name=".Matematicas_children.EcuacionesDiferenciales.aplicacion_enfriamiento_newton" />
        <activity android:name=".Matematicas_children.EcuacionesDiferenciales.aplicacion_crecimiento_poblacional" />
        <activity android:name=".Matematicas_children.EcuacionesDiferenciales.ecuacion_diferencial_ricatti" />
        <activity android:name=".Matematicas_children.EcuacionesDiferenciales.ecuacion_diferencial_exacta" />
        <activity android:name=".Matematicas_children.EcuacionesDiferenciales.ecuacion_homogenea_children" />
        <activity android:name=".Matematicas_children.EcuacionesDiferenciales.ecuacion_diferencial_bernoulli_children" />
        <activity android:name=".Matematicas_children.EcuacionesDiferenciales.ecuacion_diferencial_lineal_children" />
        <activity android:name=".Matematicas_children.EcuacionesDiferenciales.EcuacionVariablesSeparadas" />
        <activity android:name=".Materias_mate.EcuacionesDiferenciales" />
        <activity android:name=".buscador.SeleccionarUser" />
        <activity android:name=".buscador.principal" />
        <activity android:name=".Materias_Quimica.quimicaOrganica.halogenos" />
        <activity android:name=".Materias_Quimica.quimicaOrganica.hidrocarburo_aroman" />
        <activity android:name=".Materias_Quimica.quimicaOrganica.hidrocarburos_cicli" />
        <activity android:name=".Materias_Quimica.quimicaOrganica.alcano_alqueno_alquino" />
        <activity android:name=".Materias_Quimica.quimica_organica" />
        <activity android:name=".Materias_Quimica.quimicaOrganica.Tipos_carbonos" />
        <activity android:name=".Materias_Quimica.quimicaOrganica.cadenaCarbonada_children" />
        <activity android:name=".Matematicas_children.AlgebraLineal_children.multiplicacion_matrices" />
        <activity android:name=".Matematicas_children.AlgebraLineal_children.suma_matrices" />
        <activity android:name=".Matematicas_children.Algebra_children.factorizacion_children" />
        <activity android:name=".calculo_children.calculo_vectorial_children.integracion_partes" />
        <activity android:name=".calculo_children.cambio_variable" />
        <activity android:name=".calculo_children.regla_basica_integrar" />
        <activity android:name=".calculo_children.regla_basica_derivar" />
        <activity android:name=".calculo_children.teorema_fundamental_children" />
        <activity android:name=".Fisica_children.termodinamica_children.procesos_termodinamicos_isotermico_children" />
        <activity android:name=".Fisica_children.termodinamica_children.maquina_termica_children" />
        <activity android:name=".Fisica_children.termodinamica_children.dilatacion_liquidos_children" />
        <activity android:name=".Fisica_children.termodinamica_children.dilatacion_superficial_children" />
        <activity android:name=".Fisica_children.termodinamica_children.dilatacion_volumetrica_children" />
        <activity android:name=".Fisica_children.termodinamica_children.dilatacion_lineal_children" />
        <activity android:name=".Fisica_children.termodinamica_children.primer_principio_termodinamica_children" />
        <activity android:name=".Fisica_children.termodinamica_children.boyle_mariotte_children" />
        <activity android:name=".Fisica_children.termodinamica_children.ecuacion_estado_gases_ideales_children" />
        <activity android:name=".Fisica_children.termodinamica_children.capacidad_calorifica_childrne" />
        <activity android:name=".Fisica_children.termodinamica_children.presiones_parciales_children" />
        <activity android:name=".Fisica_children.termodinamica_children.calor_children" />
        <activity android:name=".Fisica_children.mecanica_fluidos_children.numero_reynolds_children" />
        <activity android:name=".Fisica_children.mecanica_fluidos_children.caudal_children" />
        <activity android:name=".Fisica_children.mecanica_fluidos_children.numero_mach_children" />
        <activity android:name=".Fisica_children.mecanica_fluidos_children.principio_arquimedes_children" />
        <activity android:name=".Fisica_children.mecanica_fluidos_children.principio_pascal_children" />
        <activity android:name=".Fisica_children.mecanica_fluidos_children.presion_esfuerzo_childrne" />
        <activity android:name=".Fisica_children.mecanica_fluidos_children.volumen_especifico_children" />
        <activity android:name=".Fisica_children.mecanica_fluidos_children.peso_especifico_children" />
        <activity android:name=".Fisica_children.mecanica_fluidos_children.densidad_children" />
        <activity android:name=".Fisica_children.Mecanica_children.fuerza_children" />
        <activity android:name=".Fisica_children.Mecanica_children.ley_gravitacion_universal_children" />
        <activity android:name=".Fisica_children.Mecanica_children.movimiento_circular_uniforme_children" />
        <activity android:name=".Fisica_children.Mecanica_children.movimiento_rectilineo_uniforme_children" />
        <activity android:name=".Fisica_children.Mecanica_children.movimiento_vertical_proyectiles_children" />
        <activity android:name=".Fisica_children.Mecanica_children.movimiento_horizontal_proyectiles_children" />
        <activity android:name=".Fisica_children.Mecanica_children.movimiento_proyectiles_angulo_children" />
        <activity android:name=".Fisica_children.Mecanica_children.caida_libre_children" />
        <activity android:name=".Fisica_children.Mecanica_children.fuerza_centripeta_children" />
        <activity android:name=".Fisica_children.Mecanica_children.movimiento_parabolico_children" />
        <activity android:name=".Fisica_children.Mecanica_children.energia_cinetica_potencial_children" />
        <activity android:name=".Fisica_children.optica_children.energia_fotonica_children" />
        <activity android:name=".Fisica_children.optica_children.factor_magnificacion_children" />
        <activity android:name=".Fisica_children.optica_children.ley_reflexion_children" />
        <activity android:name=".Fisica_children.optica_children.interferencias_children" />
        <activity android:name=".Fisica_children.optica_children.indice_refraccion_children" />
        <activity android:name=".Fisica_children.optica_children.ley_snell_children" />
        <activity android:name=".Fisica_children.optica_children.espectro_electromag_children" />
        <activity android:name=".Fisica_children.electricidad_magnetimos_children.biot_savart_children" />
        <activity android:name=".Fisica_children.electricidad_magnetimos_children.circuito_paralelo_children" />
        <activity android:name=".Fisica_children.electricidad_magnetimos_children.circuito_serie_children" />
        <activity android:name=".Fisica_children.electricidad_magnetimos_children.resistividad_electrica_children" />
        <activity android:name=".Fisica_children.electricidad_magnetimos_children.ley_ohm_children" />
        <activity android:name=".Fisica_children.electricidad_magnetimos_children.energia_campo_electrico_children" />
        <activity android:name=".Fisica_children.electricidad_magnetimos_children.capacitor_paralelo_children" />
        <activity android:name=".Fisica_children.electricidad_magnetimos_children.capacitor_serie_children" />
        <activity android:name=".Fisica_children.electricidad_magnetimos_children.movimiento_cargainterior_children" />
        <activity android:name=".Fisica_children.electricidad_magnetimos_children.campo_electrico_children" />
        <activity android:name=".Fisica_children.electricidad_magnetimos_children.principio_superposicion_children" />
        <activity android:name=".Fisica_children.electricidad_magnetimos_children.ley_coulomb_children" />
        <activity android:name=".TercerFragmento.tabla_equivalencia" />
        <activity android:name=".Fisica_children.dinamica_children.teorema_lamy_children" />
        <activity android:name=".Fisica_children.dinamica_children.centro_gravedad_children" />
        <activity android:name=".Fisica_children.dinamica_children.descomposicion_regular_children" />
        <activity android:name=".Fisica_children.dinamica_children.vectores_children" />
        <activity android:name=".Fisica_children.dinamica_children.plano_inclinado_children" />
        <activity android:name=".Fisica_children.dinamica_children.principio_bernoulli_children" />
        <activity android:name=".Fisica_children.dinamica_children.ley_hooke_children" />
        <activity android:name=".Fisica_children.dinamica_children.leyes_newton_children" />
        <activity android:name=".calculo_children.calculo_vectorial_children.teorema_stokes_children" />
        <activity android:name=".calculo_children.calculo_vectorial_children.q_plano_children" />
        <activity android:name=".calculo_children.calculo_vectorial_children.producto_vectorial_children" />
        <activity android:name=".calculo_children.calculo_vectorial_children.producto_escalar_children" />
        <activity android:name=".calculo_children.calculo_vectorial_children.cosenos_directores_children" />
        <activity android:name=".calculo_children.calculo_vectorial_children.angulo_dos_vectores_children" />
        <activity android:name=".calculo_children.calculo_vectorial_children.vector_unitario_children" />
        <activity android:name=".calculo_children.calculo_vectorial_children.norma_vector_children" />
        <activity android:name=".calculo_children.derivada_children" />
        <activity android:name=".calculo_children.integrales_fracciones_children" />
        <activity android:name=".calculo_children.integrales_Log_children" />
        <activity android:name=".calculo_children.integrales_children" />
        <activity android:name=".calculo_children.derivada_hiperbolica_children" />
        <activity android:name=".calculo_children.derivada_trigo_children" />
        <activity android:name=".calculo_children.derivada_funciones_childrne" />
        <activity android:name=".calculo_children.limite_producto_children" />
        <activity android:name=".calculo_children.suma_producto_children" />
        <activity android:name=".calculo_children.logaritmo_children" />
        <activity android:name=".Quimica_children.quimica_organica_children" />
        <activity android:name=".Quimica_children.Gases_children.gases_children" />
        <activity android:name=".Quimica_children.Estequiometria_children.disoluciones_children" />
        <activity android:name=".Quimica_children.Estequiometria_children.numAvogadro_children" />
        <activity android:name=".Matematicas_children.Probabilidad_children.laplace_children" />
        <activity android:name=".Matematicas_children.Probabilidad_children.distribucionBinomial_children" />
        <activity android:name=".Matematicas_children.Trigonometria_children.senoCosenoTan_children" />
        <activity android:name=".Matematicas_children.Trigonometria_children.razonesSumaDif_children" />
        <activity android:name=".Matematicas_children.Trigonometria_children.clasificacionSegunAngulo_children" />
        <activity android:name=".Matematicas_children.Trigonometria_children.relacionTrigonometria_children" />
        <activity android:name=".Matematicas_children.Trigonometria_children.anguloOpuesto_children" />
        <activity android:name=".Matematicas_children.Trigonometria_children.teoremaPitagoras_children" />
        <activity android:name=".Matematicas_children.Trigonometria_children.angulosSuplementarios_children" />
        <activity android:name=".Matematicas_children.Trigonometria_children.angulosComplementarios_children" />
        <activity android:name=".Matematicas_children.Probabilidad_children.Mediana" />
        <activity android:name=".Matematicas_children.Probabilidad_children.ordenaciones_combinacion_children" />
        <activity android:name=".Matematicas_children.Probabilidad_children.permutaciones_children" />
        <activity android:name=".Matematicas_children.Probabilidad_children.esperanzaMatematica_children" />
        <activity android:name=".Matematicas_children.Probabilidad_children.probabilidadCondicional_children" />
        <activity android:name=".Matematicas_children.Probabilidad_children.operacionesConjuntos_children" />
        <activity android:name=".Matematicas_children.Probabilidad_children.varianza_children" />
        <activity android:name=".Matematicas_children.Probabilidad_children.desviacion_estandar" />
        <activity android:name=".Matematicas_children.Probabilidad_children.promedio_children" />
        <activity android:name=".Matematicas_children.Probabilidad_children.modaDatosAgrupados_children" />
        <activity android:name=".Matematicas_children.Geometria_children.parabolaFueraOrigen_children" />
        <activity android:name=".Matematicas_children.Geometria_children.parabolaOrigen_children" />
        <activity android:name=".Matematicas_children.Geometria_children.modulo_vector_children" />
        <activity android:name=".Matematicas_children.Geometria_children.circunferenciaFueraOrigen_children" />
        <activity android:name=".Matematicas_children.Geometria_children.puntoMedio_children" />
        <activity android:name=".Matematicas_children.Geometria_children.hiperbola_children" />
        <activity android:name=".Matematicas_children.Geometria_children.circunferenciaCentroOrigen_children" />
        <activity android:name=".Matematicas_children.Geometria_children.ecuacionGralConi_children" />
        <activity android:name=".Matematicas_children.Geometria_children.distanciaPuntorec_children" />
        <activity android:name=".Matematicas_children.Geometria_children.formaPuntoPendiente_children" />
        <activity android:name=".Matematicas_children.Geometria_children.distanciaDosPuntos_children" />
        <activity android:name=".Matematicas_children.AlgebraLineal_children.traza_children" />
        <activity android:name=".Matematicas_children.AlgebraLineal_children.matrizOrtogonal_children" />
        <activity android:name=".Matematicas_children.AlgebraLineal_children.matrizSimetrica_children" />
        <activity android:name=".Matematicas_children.AlgebraLineal_children.matrizDiagonal_children" />
        <activity android:name=".Matematicas_children.AlgebraLineal_children.matrizCuadrada_children" />
        <activity android:name=".Matematicas_children.AlgebraLineal_children.reglaSarrus_children" />
        <activity android:name=".Matematicas_children.AlgebraLineal_children.angulos_children" />
        <activity android:name=".Matematicas_children.AlgebraLineal_children.reglaCramer_children" />
        <activity android:name=".Matematicas_children.AlgebraLineal_children.matrizTranspuesta_children" />
        <activity android:name=".Matematicas_children.Aritmetica_children.operacionesFracciones_children" />
        <activity android:name=".Matematicas_children.Aritmetica_children.potenciaFracciones_children" />
        <activity android:name=".Matematicas_children.Aritmetica_children.numeromixto_children" />
        <activity android:name=".Matematicas_children.Aritmetica_children.reglaTres_children" />
        <activity android:name=".Matematicas_children.Algebra_children.conjugadoComplejo_children" />
        <activity android:name=".Matematicas_children.Algebra_children.operacionesComplejos_children" />
        <activity android:name=".Matematicas_children.Algebra_children.sumatoria_children" />
        <activity android:name=".Matematicas_children.Algebra_children.formulaGeneral_children" />
        <activity android:name=".Matematicas_children.Algebra_children.leySignos_children" />
        <activity android:name=".Matematicas_children.Algebra_children.numerosComplejos_children" />
        <activity android:name=".Matematicas_children.Algebra_children.numerosReales_children" />
        <activity android:name=".Matematicas_children.Algebra_children.binomioNewton_children" />
        <activity android:name=".Matematicas_children.Algebra_children.valorAbsoluto_children" />
        <activity android:name=".Matematicas_children.Algebra_children.productosnotables_children" />
        <activity android:name=".Matematicas_children.Algebra_children.leyExponentes_children" />
        <activity android:name=".TercerFragmento.glosario_matematico" />
        <activity android:name=".juego.QuizActivity" />
        <activity android:name=".juego.LauncherActivity2" />
        <activity android:name=".resolver.quimica.gases_ejer" />
        <activity android:name=".resolver.quimica.analitica" />
        <activity android:name=".resolver.matematicas.probabilidad_ejer" />
        <activity android:name=".Materias_Quimica.gases" />
        <activity android:name=".resolver.calculo.calculo_vectorial" />
        <activity android:name=".resolver.calculo.calculo_integral" />
        <activity android:name=".resolver.matematicas.Algebra_linea_ejer" />
        <activity android:name=".resolver.matematicas.algebra_ejer" />
        <activity android:name=".resolver.matematicas.trigonometria_ejer" />
        <activity android:name=".resolver.matematicas.Geometria_ejer" />
        <activity android:name=".resolver.matematicas.Aritmetica_ejer" />
        <activity android:name=".resolver.fisica.electricidad" />
        <activity android:name=".resolver.fisica.optica" />
        <activity android:name=".resolver.fisica.termodinamica" />
        <activity android:name=".resolver.mecanica_fluidos.mecanica_fluidos" />
        <activity android:name=".resolver.Resolver_problems" />
        <activity android:name=".resolver.mecanica.mecanica_problema" />
        <activity android:name=".resolver.dinamica.Dinamica_menu" />



        <activity android:name=".AreayVolumen.Toro" />
        <activity android:name=".AreayVolumen.Cono" />
        <activity android:name=".AreayVolumen.Esfera" />
        <activity android:name=".AreayVolumen.Cilindro" />
        <activity android:name=".AreayVolumen.Piramide" />
        <activity android:name=".AreayVolumen.Cubo" />
        <activity android:name=".AreayVolumen.Elipse" />
        <activity android:name=".AreayVolumen.Circullo" />
        <activity android:name=".AreayVolumen.Hexagono" />
        <activity android:name=".AreayVolumen.Rombo" />
        <activity android:name=".AreayVolumen.Trapecio" />
        <activity android:name=".AreayVolumen.Paralelogramo" />
        <activity android:name=".AreayVolumen.Rectangulo" />
        <activity android:name=".AreayVolumen.Cuadrado" />
        <activity android:name=".AreayVolumen.Triangulo" />
        <activity android:name=".AreayVolumen.Principales" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6990142911259855~9491733677" />

        <activity android:name=".Materias_Fisica.Mecanica_fluidos" />
        <activity android:name=".Materias_Fisica.Mecanicaa" />
        <activity android:name=".Materias_Fisica.Termodinamica_fisi" />
        <activity android:name=".Materias_Fisica.Optica" />
        <activity android:name=".TercerFragmento.Prefijos" />
        <activity android:name=".Materias_Calculo.Vectorial" />
        <activity android:name=".Materias_Calculo.Diferencial_Integral" />
        <activity android:name=".Materias_Quimica.Estequiometria" />
        <activity android:name=".Materias_Fisica.Dinamica" />
        <activity android:name=".Materias_mate.Trigonometria" />
        <activity android:name=".Activitis.MainActivity"></activity>

        <service
            android:name=".Activitis.Notificaciones"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity android:name=".Activitis.Menu_principal" />
        <activity android:name=".Ventanas_menú.Quimica_Activity" />
        <activity android:name=".Ventanas_menú.Calculo_Activity" />
        <activity android:name=".Ventanas_menú.Fisica_Activity" />
        <activity android:name=".GridView_segundoFragment.Longitud_activity" />
        <activity android:name=".GridView_segundoFragment.Volumen_activity" />
        <activity android:name=".ListView_primerFragment.Menu_Matematicas" />
        <activity android:name=".Materias_mate.algebra" />
        <activity android:name=".Materias_mate.aritmetica" />
        <activity android:name=".Materias_Fisica.Electricidad_Mag" />
        <activity android:name=".Materias_mate.algebra_lineal" />
        <activity android:name=".Materias_mate.Probabilidad_estadistica" />
        <activity android:name=".GridView_segundoFragment.Masa" />
        <activity android:name=".GridView_segundoFragment.Area" />
        <activity android:name=".GridView_segundoFragment.Velocidad" />
        <activity android:name=".TercerFragmento.tablaPeriodica" />
        <activity android:name=".TercerFragmento.toxicidad" />
        <activity android:name=".GridView_segundoFragment.presion" />
        <activity android:name=".GridView_segundoFragment.Frecuencia" />
        <activity android:name=".GridView_segundoFragment.Temperatura" />
        <activity android:name=".GridView_segundoFragment.Energia" />
        <activity android:name=".GridView_segundoFragment.Tiempo" />
        <activity android:name=".GridView_segundoFragment.combustible" />
        <activity android:name=".TercerFragmento.constantes" />
        <activity android:name=".GridView_segundoFragment.potencia" />
        <activity android:name=".Materias_mate.geometria" />
        <activity android:name=".GridView_segundoFragment.Resistencia" />
    </application>

</manifest>